<!DOCUMENT html>
<html lang="es">
  <head>
  	<title>XPD Modelador</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="no-cache"/>
    <meta http-equiv="EXPIRES" content="0">
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>    
    <script src="js/angular.min.js"></script>

  </head>
  <body class="bg-light" style="height:100%" ng-app="modeladorApp" ng-controller="modeladorController">
    
    <div id="divMenuPrincipal" class="card mh-100" style="height:95%" ng-show="currentScreen == '#divMenuPrincipal'" >
      
      <div class="card-header bg-dark text-white">MENU PRINCIPAL</div>
      <div class="card-body mh-100">
        <div class="d-flex flex-column flex-wrap justify-content-around">
          <div id="aCrearModelo" class="card flex-fill mr-2 my-2" ng-click="mostrarCrearModelo()" >
              <div class="card-body">
              &#10133; Crear Modelo
              </div>
          </div>
          <div id="aAbrirModelo" class="card flex-fill mr-2 my-2" ng-click="mostrarAbrirModelo()" >
              <div class="card-body">
              &#128194; Abrir Modelo
              </div>
          </div>
          <div id="aImportarModelo" class="card flex-fill mr-2 my-2" ng-click="mostrarImportarModelo()" >
              <div class="card-body">
              &#128228; Cargar Modelo
              </div>
          </div>
          <div id="aMantenimiento" class="card flex-fill mr-2 my-2" ng-click="mostrarMantenimiento()" >
              <div class="card-body">
              &#9881; Mantenimiento
              </div>
          </div>
        </div>
      </div>
            
    </div>
    
    <form id="frmMantenimiento" method="POST" action="#" onsubmit="return false;" ng-show="currentScreen == '#frmMantenimiento'">
      <div class="card " style="height:95%">
        <div class="card-header bg-dark text-white">
            <div class="nav justify-content-between">
                <div>&#9881; Mantenimiento</div>
                <button class="btn btn-secondary" ng-click="irAInicio()" >
                    &#10096; Atr&aacute;s
                </button>
            </div>
        </div>
        
        <div class="card-body">
          <div class="d-flex flex-column flex-wrap justify-content-around">
            <div class="card flex-fill mr-2 my-2" ng-click="crearBaseDatos()" >
                <div class="card-body">
                &#9923; Crear Repositorio
                </div>
            </div>
            <div class="card flex-fill mr-2 my-2" ng-click="regenerarMetamodelo()">
                <div class="card-body">
                &#9922; Regenerar Metamodelo
                </div>
            </div>
            <div class="card flex-fill mr-2 my-2" ng-click="mostrarExpresionesRegulares()" >
                <div class="card-body">
                &#128373; Probar Exp Regulares
                </div>
            </div>
            <div class="card flex-fill mr-2 my-2" ng-click="ejecutarPruebasUnitarias()" >
                <div class="card-body">
                &#128657; Pruebas Unitarias
                </div>
            </div>

            
          </div>
        </div>
      </div>
    </form>
    
    <div id="divModelView" ng-show="objetoModelo != null &amp;&amp; currentScreen == '#divModelView'">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="row px-2">
                <span class="col-1 navbar-brand" href="#">&#128196;</span>
                <span class="col-3 pl-0 navbar-text">{{objetoModelo.idTipoMetamodelo}}</span>
                <span class="col">
                    <input type="text" ng-model="objetoModelo.nombre" class="form-control form-control-sm" ng-change="onCambiarCampo()" >
                </span>
                <span class="col-3" ng-show="cambiado">
                    <a class="btn btn-sm btn-primary" ng-click="guardarObjetoModelo()">&#128190; Guardar</a>
                </span>
            </div>
        </nav>

        <div class="my-4">  
            &nbsp;                  
        </div>

        <div class="container">

            <div class="ml-1 btn-group btn-group-sm">
                <a class='btn btn-outline-danger' ng-show="objetoModelo.idObjeto != modelo.idObjetoRaiz" ng-click="eliminarObjetoModelo()" >&#128465; Eliminar</a>
                <a class='btn btn-outline-secondary' ng-show="objetoModelo.idObjeto != modelo.idObjetoRaiz" ng-click="mostrarOpcionesReubicacionObjetoModelo()" >Reubicar</a>
                <a class="btn btn-outline-primary" ng-click="exportarModelo()">&#128229; Descargar Modelo</a>
                <a class='btn btn-outline-secondary' ng-click="validarModelo()" > &#128203; Validar</a>
                <a class='btn btn-outline-secondary' ng-click="irAInicio()" > &#10006; Cerrar</a>
            </div>
    
    
            <ul class="breadcrumb m-0 bg-light">
                <li class="breadcrumb-item" ng-repeat="(indice,objetoPila) in pilaObjetosModelo">
                    <a class="text-primary" ng-click="mostrarObjetoModeloPila(indice)" >{{objetoPila.nombre}}</a>
                </li>
                <li class="breadcrumb-item active">
                  <span>{{objetoModelo.nombre}}</span>
                </li>
            </ul>
    
            <div class="form-group form-group-sm row">
                <label for="objetoModeloDescripcion" class="col-4">Descripci&oacute;n:</label>
                <span class="col-8">
                    <textarea ng-model="objetoModelo.descripcion" rows="2" class="form-control form-control-sm" ng-change="onCambiarCampo()"></textarea>
                </span>
            </div>
            
            <div class="form-group form-group-sm row mt-1" ng-repeat="(indice,atributo) in atributos">
                <label class="col-4">{{atributo.idAtributoMetamodelo}}
                    <span ng-show=" atributo.esObligatorio == '1' ">(*)</span>
                :</label>
                <span ng-show="atributo.idCatalogo == null &amp;&amp; atributo.idTipoMetamodeloRef == null" class="col-8">
                    <input ng-model="atributo.valor" ng-maxlength="obtenerMaxLength(atributo)" class="form-control form-control-sm" ng-change="onCambiarCampo()">
                </span>
                <span ng-show="atributo.idCatalogo != null" class="col-8">
                    <select ng-model="atributo.valor" ng-change="onCambiarCampo()" class="form-control form-control-sm">
                        <option value="">-Seleccionar-</option>
                        <option ng-repeat="valorCatalogo in catalogos[atributo.idCatalogo]" value="{{valorCatalogo.clave}}" ng-selected="atributo.valor == catalogoValor.clave">
                            {{valorCatalogo.etiqueta}}
                        </option>
                    </select>
                </span>
                <span ng-show="atributo.idTipoMetamodeloRef != null" class="col-8">
                    <div class="input-group" ng-click="mostrarSeleccionarReferencia(indice)">
                      <input disabled ng-model="atributo.nombreRef" class="form-control form-control-sm">
                      <button class="input-group-append btn btn-secondary">...</button>
                    </div>
                </span>
                
                <span ng-show="atributo.mensajeError != null" class="text-error col-12">
                    {{atributo.mensajeError}}
                </span>
            </div>   
            
            <ul class="nav nav-pills nav-justified">
              <li class="nav-item" ng-repeat="(indice, lista) in listas">
                  <a ng-click="cargarLista(indice)" class='nav-link {{lista.cssSeleccionado}}' >{{lista.idJerarquia}}</a>
              </li>
            </ul>

            <div class="card-header justify-content-end">
              <div class="btn-group">
                  <button class="btn btn-primary" ng-click="crearHijo()">
                     &#10133; Nuevo
                  </button>
              </div>
            </div>

            <div class="list-group">
              <div class="list-group-item p-0" ng-repeat="item in listaHijos">
                  <div class="w-100 pl-3 d-flex flex-row justify-content-between align-items-center"> 
                      <div class="btn" ng-click="abrirHijo(item)" >
                          &#128196; {{item.nombre}}
                      </div>
                      
                      <span class="d-flex flex-row align-items-center">
                        <div class="btn btn-lg" ng-click="abrirHijo(item)" >&#9999;</div>
                        <span class="d-flex flex-column">
                            <button class="btn" ng-click="moverObjeto(item,'1')" >&#x25B2;</button>
                            <button class="btn" ng-click="moverObjeto(item,'0')">&#x25BC;</button>
                        </span>
                      </span>
                      
                  </div>
              </div>
            </div>

        </div>

    </div>
    
    <form id="frmCrearModelo" class="card" method="POST" action="#" onsubmit="return false;" ng-show="currentScreen == '#frmCrearModelo'">
      
        <div class="card-header bg-dark text-white">
          <div class="nav justify-content-between">
              <div>&#10133; Crear Modelo</div>
              <button id="aCancelarCrearModelo" class="btn btn-secondary" ng-click="irAInicio()">
                  &#10096; Atr&aacute;s
              </button>
          </div>
        </div>
        <div class="card-body">
          <div id="divListaMetamodelos" class="d-flex flex-column flex-wrap justify-content-around">
              <div ng-repeat="(indice, metamodelo) in metamodelos" class="card flex-fill mx-2 my-2" ng-click="seleccionarMetamodelo(indice); crearModelo()">
                  <div class="card-body">
                  &#128203; {{metamodelo.nombreMetamodelo}}
                  </div>
              </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group">
            
          </div>
        </div>
      
    </form>

    <form id="frmSeleccionarPadre" class="card" method="POST" action="#" onsubmit="return false;" ng-show="currentScreen == '#frmSeleccionarPadre'">
      <div class="card-header bg-dark text-white fixed-top">
        <div class="nav justify-content-between">
            <div>Reubicar {{objetoModelo.nombre}}</div>
            <button class="btn btn-secondary" ng-click="irAObjetoModelo()">
                &#10096; Atr&aacute;s
            </button>
        </div>
      </div>

      <div class="my-4">  
        &nbsp;                  
      </div>

      <div class="card-body">
        <div class="d-flex flex-column flex-wrap justify-content-around">
            <div ng-repeat="(indice, objeto) in opcionesReubicacion" class="card flex-fill mx-0 my-0" ng-click="seleccionarNuevoPadre(indice)">
                <div class="card-body">
                  {{objeto.idTipoMetamodelo}} {{objeto.nombre}}
                </div>
                <div class="text-info">
                  Rol: {{objeto.idJerarquia}}
                </div>
            </div>
        </div>
      </div>

    </form>
    
    <form id="frmSeleccionarReferencia" class="card" method="POST" action="#" onsubmit="return false;" ng-show="currentScreen == '#frmSeleccionarReferencia'">
      
        <div class="card-header bg-dark text-white fixed-top">
          <div class="nav justify-content-between">
              <div>Seleccionar {{frmSeleccionarReferencia.idTipoMetamodelo}}</div>
              <button class="btn btn-secondary" ng-click="irAObjetoModelo()">
                  &#10096; Atr&aacute;s
              </button>
          </div>
        </div>
        <div class="card-body">
          <div id="divListaMetamodelos" class="d-flex flex-column flex-wrap justify-content-around">
              <div ng-repeat="(indice, objeto) in frmSeleccionarReferencia.objetos" class="card flex-fill mx-0 my-0" ng-click="seleccionarReferencia(indice)">
                  <div class="card-body">
                      {{objeto.nombre}}
                  </div>
                  <div class="text-info">
                      {{objeto.nombrePadre}}
                  </div>
              </div>
          </div>
        </div>
      
    </form>
    
    <form id="frmAbrirModelo" method="POST" action="#" onsubmit="return false;" ng-show="currentScreen == '#frmAbrirModelo'">
      
      <div class="card">
        <div class="card-header bg-dark text-white">
          <div class="nav justify-content-between">
            <div>&#128194; Abrir Modelo</div>
            <button id="aCancelarAbrirModelo" class="btn btn-secondary" ng-click="irAInicio()">
                &#10096; Atr&aacute;s
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="card-text">Elige un modelo existente</div>
          
          <div id="divListaModelos" class="d-flex flex-column flex-wrap justify-content-around overflow-auto" style="height:95%">
              <div ng-repeat="(indice, modelo) in modelos" class="card flex-fill mx-2 my-2" ng-click="seleccionarModelo(indice); abrirModelo()">
                  <div class="card-header">
                      &#128209; {{modelo.nombre}}
                  </div>
                  <div class="card-body">
                      {{modelo.nombreMetamodelo}}
                  </div>
              </div>
          </div>
          
        </div>

      </div>


    </form>
    
    <div id="divGeneradores" class="card" ng-show="currentScreen == '#divGeneradores'">
        
        <div class="card-header bg-dark text-white fixed-top">
          <div class="nav justify-content-between">
            <div>&#128119; Seleccionar Generador</div>
            <button id="aCancelarAbrirModelo" class="btn btn-secondary" ng-click="irAObjetoModelo()">
                &#10096; Atr&aacute;s
            </button>
          </div>
        </div>
        
        <div class="card-body">
        
        	    <div class="mt-4 mb-4">  
            	&nbsp;                  
                </div>
                
          <div class="">
              <div ng-repeat="(indice, objeto) in frmGeneracion.generadores" class="card mx-0 my-0" ng-click="generarCodigo(indice)">
                  <div class="card-body">
                      &#128119; {{objeto.nombreGenerador}}
                  </div>
              </div>
          </div>
        </div>
        
    </div>
    
    <form id="frmExpReg" method="POST" action="#" onsubmit="return false;" ng-show="currentScreen == '#frmExpReg'">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <div class="nav justify-content-between">
            <div>Validar Expresion Regular</div>
            <button class="btn btn-secondary" ng-click="mostrarMantenimiento()">
              &#10096; Atr&aacute;s
            </button>
          </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label class="col-lg-4">
                    Cadena:
                </label>
                <span class="col-lg-8">
                    <input class="form-control-lg" ng-model="frmExpresionesRegulares.texto" ng-change="evaluarExpReg()"/>
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-4">
                    Expresi&oacute;n Regular:
                </label>
                <span class="col-lg-8">
                    <input class="form-control-lg" ng-model="frmExpresionesRegulares.expresion" ng-change="evaluarExpReg()"/>
                </span>
            </div>
        </div>
        
        <div class="card-footer">
          <div class="card-info">
            <div class="text-danger" ng-show="! frmExpresionesRegulares.expresionValida">
                Expresi&oacute;n regular no es v&aacute;lida.
            </div>
            <div ng-show="frmExpresionesRegulares.expresionValida">
                <span class="text-success" ng-show="frmExpresionesRegulares.textoMatchs">
                    Texto corresponde con expresi&oacute;n regular
                </span>
                <span class="text-danger" ng-show="! frmExpresionesRegulares.textoMatchs">
                    Texto NO corresponde con expresi&oacute;n regular
                </span>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    <form id="frmExportarModelo" method="POST" action="/exportarModelo.html" target="_BLANK" >
      <input type="hidden" name="idModelo" value=""/>
      <input type="hidden" name="descargar" value="1"/>
    </form>
    
    <form id="frmImportarModelo" method="POST" action="/importarModelo.html" enctype="multipart/form-data" target="iframeResultadoImport" ng-show="currentScreen == '#frmImportarModelo'">
      <div class="card">
        
        <div class="card-header bg-dark text-white">
          <div class="nav justify-content-between">
            <div>&#128228; Cargar Modelo</div>
            <button class="btn btn-secondary" ng-click="irAInicio()">
              &#10096; Atr&aacute;s
            </button>
          </div>
        </div>
        
        <div class="card-body">
            <div class="form-group">
                <label>
                Archivo:
                </label>
                <input class="form-control" type="file" name="modeloImportado" onchange="this.form.submit();" />
            </div>
        </div>
        <iframe id="iframeResultadoImport" name="iframeResultadoImport" ></iframe>
        
        <div class="card-footer">
          <button id="aCerrarImportacion" class="btn btn-primary">Cerrar</button>
        </div>
        
      </div>
    </form>
    
    <form id="frmFileDialog" method="POST" action="#" onsubmit="return false;" ng-show="currentScreen == '#frmFileDialog'">
      
    </form>
    
    <div id="frmDesplegarContenido" class="card" ng-show="currentScreen == '#frmDesplegarContenido'">
        
        <div class="card-header bg-dark text-white fixed-top">
          <div class="nav justify-content-between">
            <div>&#128194; C&oacute;digo Generado</div>
            <button class="btn btn-secondary" ng-click="mostrarGeneradores()">
                &#10096; Atr&aacute;s
            </button>
          </div>
        </div>
        
        <div class="card-body">
        
                <div class="mt-3 mb-3">  
            	&nbsp;                  
                </div>
                
          <div class="">
              
              <div ng-repeat="(indice, objeto) in frmGeneracion.archivos" class="card mx-0 my-0">
                  <div class="card-header">
                      &#128196; {{objeto.path}}
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                    <textarea class="form-control" rows="10" readonly ng-model="objeto.contenido">
                    </textarea>
                    </div>
                  </div>
              </div>
              
          </div>
        </div>
        
    </div>

    <div id="divValidacion" class="card" ng-show="currentScreen == '#divValidacion'">

        <div class="card-header bg-dark text-white fixed-top">
          <div class="nav justify-content-between">
            <div>&#128203; Validaciones</div>
            
            <span>
            
            <button class="btn btn-secondary" ng-click="mostrarGeneradores()" ng-show="frmValidaciones.puedeGenerar()">
                &#128119; Generar
            </button>
            
            <button class="btn btn-secondary" ng-click="irAObjetoModelo()">
                &#10096; Atr&aacute;s
            </button>
            </span>
          </div>
        </div>
        <div class="card-body">
        
                <div class="mt-4 mb-4">  
            	&nbsp;                  
                </div>
        
          <div class="card-text" ng-show ="frmValidaciones.lista.length == 0" >No hay observaciones</div>
          
          <div class="">
              <div ng-repeat="(indice, objeto) in frmValidaciones.lista" class="card mx-0 my-0" ng-click="seleccionarValidacion(indice)">
                  <div class="card-body">
                      {{objeto.nombre}}
                  </div>
                  <div class="text-info">
                      {{objeto.nombrePadre}}
                  </div>
                  <div class="text-{{objeto.nivel}}">
                      <span ng-show=" objeto.nivel == 'danger' ">&#10060;</span>
                      <span ng-show=" objeto.nivel == 'warning' ">&#9888;</span>
                      {{objeto.descripcionValidacion}}
                  </div>
              </div>
          </div>
        </div>

    </div>
    
    <div id="divProtector" ng-show="currentScreen == '#divProtector'">
       <div>Espere un momento, por favor </div> 
    </div>
    
    
    <script src="js/modelador.angular.js?37">
    </script>
    

  </body>
</html>



