/__pycache__/
/.ipynb_checkpoints/
/data/*.db
/inicializador.ipynb
/xpd_orm.py
/xpd_usr.py
/views/xpd_usr
/static/*.mp3
/static/js/jsm/
/static/models/gltf/
/static/models/fbx/
/static/js/three.module.js
/xpd_tk.py
/esEC.py
/novelas.py
/views/xpd_asistente/